export GOOGLE_CLIENT_ID=
export GOOGLE_CLIENT_SECRET=
export GOOGLE_APPLICATION_CREDENTIALS=
export GOOGLE_CLOUD_PUBSUB_PROJECT_ID=
export GOOGLE_CLOUD_PUBSUB_TOPIC=
export GOOGLE_CLOUD_PUBSUB_SUBSCRIPTION=
export OPENAI_API_KEY=

dotenv
