<main class="pt-4">
  <.flash_group flash={@flash} />
  <div class="container mx-auto max-w-8xl">
    <div class="bg-white shadow-md rounded-lg p-4 mb-8 flex justify-between items-center">
      <div class="flex items-center">
        <.link navigate={~p"/"} class="text-xl font-bold text-blue-600 hover:text-blue-800">
          Email Organizer
        </.link>
      </div>
      <div :if={Map.has_key?(assigns, :current_user)} class="flex items-center">
        <div class="mr-4 text-gray-700">
          <span class="font-medium">{@current_user.name}</span>
          <span class="text-sm text-gray-500 ml-2">({@current_user.email})</span>
        </div>
        <.link
          href={~p"/auth/logout"}
          class="bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-md text-sm font-medium"
        >
          Logout
        </.link>
      </div>
    </div>
    {@inner_content}
  </div>
</main>
